.hrConfig {
    margin-top: 30px;
    background: #e0e0e0;
  }

  .registerDiv {
    margin-top: 30px;
  }

  .registerText {
    font-family: "Manrope", sans-serif;
    margin-left: 10px;
    padding-top: 10px;
  }