.headerDiv{
    background-color: rgb(188, 204, 228);
}

.footerDiv{
    background-color: rgb(188, 204, 228);
}

.jumbotronOption{
    padding-top: 10px;
    padding-bottom: 50px;
    height: 400px;
}

.aboutUsDiv{
    padding-left: 10%;
    padding-top: 30px;
}