.headerDiv{
    background-color: rgb(188, 204, 228);
}

.jumbotron{
    background-color: white !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0px !important;
}

.ButtonCreateAccount{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerDiv{
    background-color: rgb(188, 204, 228);
}