.breadcrumMainItem{
    width: 75px;
}

.formTitle{
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 30px;
}

.formMargin{
    margin-top: 30px;
    padding-bottom: 20px;
}

.labelStyle{
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.inputConfig{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #007bff !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.inputConfig::placeholder{
    font-family: 'Manrope', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    font-style: italic !important;
    outline: none !important;
    outline-width: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.inputConfig:focus{
    color: #007bff !important;
    border: 2px solid #007bff;
    font-family: 'Manrope', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    transition: 0.2s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
}

.inputConfigInvalid{
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid red !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.inputConfigInvalid::placeholder{
    font-family: 'Manrope', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    font-style: italic !important;
    outline: none !important;
    outline-width: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.inputConfigInvalid:focus{
    color: red !important;
    border: 2px solid red;
    font-family: 'Manrope', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    transition: 0.2s ease-in-out;
    outline: none !important;
    box-shadow: none !important;
}

.inputGroup{
    background-color: white !important;
    background: white !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.buttonConfig{
    margin-left: 55px !important;
    margin-top: 20px !important;
    font-family: 'Manrope', sans-serif;
}

.hrConfig{
    margin-top: 80px;
    background: #e0e0e0;
}

.registerDiv{
    margin-top: 30px;
}

.registerText{
    font-family: 'Manrope', sans-serif;
    margin-left: 10px;
    padding-top: 10px;
}

button[disabled] {
    cursor: not-allowed;
  }